NET "CLK_IN"   LOC = "Y9" | IOSTANDARD = LVCMOS33;

#MOTOR 1
NET FMC_M1_SENSOR(0)      LOC = J16  | IOSTANDARD=LVCMOS25;  # "FMC-LA07_P"
NET FMC_M1_SENSOR(1)      LOC = J17  | IOSTANDARD=LVCMOS25;  # "FMC-LA07_N"
NET FMC_M1_SENSOR(2)      LOC = G15  | IOSTANDARD=LVCMOS25;  # "FMC1-LA10_P"

NET FMC_PWM_EN      		LOC = L21  | IOSTANDARD=LVCMOS25; 
NET FMC_PWM_AH          LOC = A16  | IOSTANDARD=LVCMOS25;
NET FMC_PWM_AL          LOC = A17  | IOSTANDARD =LVCMOS25; 
NET FMC_PWM_BH          LOC = C15  | IOSTANDARD=LVCMOS25; 
NET FMC_PWM_BL          LOC = B15  | IOSTANDARD=LVCMOS25; 
NET FMC_PWM_CH          LOC = A21  | IOSTANDARD=LVCMOS25; 
NET FMC_PWM_CL          LOC = A22  | IOSTANDARD=LVCMOS25;  
NET FMC_M_FAULT         LOC = C22  | IOSTANDARD=LVCMOS25;  # "FMC-LA25_N"

NET FMC_IA_DAT          LOC = T16  | IOSTANDARD=LVCMOS25;  #
NET FMC_IA_CLK          LOC = P17  | IOSTANDARD=LVCMOS25 | CLOCK_DEDICATED_ROUTE = FALSE;  
NET FMC_IB_DAT          LOC = T17  | IOSTANDARD=LVCMOS25;  
NET FMC_IB_CLK          LOC = P18  | IOSTANDARD=LVCMOS25 | CLOCK_DEDICATED_ROUTE = FALSE;  
NET FMC_IT_DAT          LOC = N17  | IOSTANDARD=LVCMOS25;  
NET FMC_IT_CLK          LOC = M21  | IOSTANDARD=LVCMOS25 | CLOCK_DEDICATED_ROUTE = FALSE;  
NET FMC_VBUS_DAT        LOC = N18  | IOSTANDARD=LVCMOS25; 
NET FMC_VBUS_CLK        LOC = M22  | IOSTANDARD=LVCMOS25 | CLOCK_DEDICATED_ROUTE = FALSE;

NET GPO[0]     LOC = A18  | IOSTANDARD=LVCMOS25;
NET GPO[1]     LOC = A19  | IOSTANDARD=LVCMOS25;
NET GPO[2]     LOC = R19  | IOSTANDARD=LVCMOS25;
NET GPO[3]     LOC = T19  | IOSTANDARD=LVCMOS25;
NET GPO[4]     LOC = D20  | IOSTANDARD=LVCMOS25;
NET GPO[5]     LOC = C20  | IOSTANDARD=LVCMOS25;
NET GPO[6]     LOC = E21  | IOSTANDARD=LVCMOS25;
NET GPO[7]     LOC = D21  | IOSTANDARD=LVCMOS25;
NET GPO[8]     LOC = J22  | IOSTANDARD=LVCMOS25;
NET GPO[9]     LOC = G16  | IOSTANDARD=LVCMOS25;
NET GPO[10]    LOC = M19  | IOSTANDARD=LVCMOS25;

NET GPI[0]	LOC = E19 | IOSTANDARD=LVCMOS25;
NET GPI[1]	LOC = E20 | IOSTANDARD=LVCMOS25;
NET GPI[2]	LOC = B17 | IOSTANDARD=LVCMOS25;
NET GPI[3]	LOC = B21 | IOSTANDARD=LVCMOS25;
NET GPI[4]	LOC = B22 | IOSTANDARD=LVCMOS25;
