#
# pin constraints
#
NET CLK_N LOC = "AD11"  |  IOSTANDARD = "DIFF_SSTL15";
NET CLK_P LOC = "AD12"  |  IOSTANDARD = "DIFF_SSTL15";
NET RESET LOC = "AB7"  |  IOSTANDARD = "LVCMOS15";
NET RS232_Uart_1_sin LOC = "M19"  |  IOSTANDARD = "LVCMOS25";
NET RS232_Uart_1_sout LOC = "K24"  |  IOSTANDARD = "LVCMOS25";
NET sm_fan_pwm_net_vcc LOC = "L26"  |  IOSTANDARD = "LVCMOS25";
#
# additional constraints
#

NET "CLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 200000 kHz;


# Added for RevC board
CONFIG DCI_CASCADE = "33 32 34";

#
# FMC pins constraints
#
# Location Constraint
#NET "CON_CLKOUT" LOC = AF28;
NET "CON_GPIO[0]" 	LOC = AG27;
NET "CON_GPIO[1]" 	LOC = AK28;
NET "CON_GPIO[2]" 	LOC = AK29;
NET "CON_GPIO[3]" 	LOC = AJ28;
NET "CON_GPIO[4]" 	LOC = AG28;
NET "CON_GPIO[5]" 	LOC = AK30;
NET "CON_GPIO[6]" 	LOC = AC26;
NET "CON_GPIO[7]" 	LOC = AJ29;
NET "CON_I2C0_SCL" 	LOC = AH27;
NET "CON_I2C0_SDA" 	LOC = AD28;
NET "CON_I2C1_SCL" 	LOC = AJ27;
NET "CON_I2C1_SDA" 	LOC = AK26;
NET "CON_PAR[0]" 		LOC = AC25; #CON_PAR_ADDR[0]
NET "CON_PAR[1]" 		LOC = AG30; #CON_PAR_ADDR[1], AG25
NET "CON_PAR[2]" 		LOC = AB24; #CON_PAR_ADDR[2]
NET "CON_PAR[3]" 		LOC = AJ22; #CON_PAR_ADDR[3]
NET "CON_PAR[4]" 		LOC = AE21; #CON_PAR_CLK
NET "CON_PAR[5]" 		LOC = AJ21; #CON_PAR_CS
NET "CON_PAR[6]" 		LOC = AJ24; #CON_PAR_DATA[0]
NET "CON_PAR[7]" 		LOC = AH21; #CON_PAR_DATA[1]
NET "CON_PAR[8]" 		LOC = AK23; #CON_PAR_DATA[2]
NET "CON_PAR[9]" 		LOC = AG20; #CON_PAR_DATA[3]
NET "CON_PAR[10]" 	LOC = AH22; #CON_PAR_DATA[4]
NET "CON_PAR[11]" 	LOC = AF21; #CON_PAR_DATA[5]
NET "CON_PAR[12]" 	LOC = AK21; #CON_PAR_DATA[6]
NET "CON_PAR[13]" 	LOC = AE24; #CON_PAR_DATA[7]
NET "CON_PAR[14]" 	LOC = AG22; #CON_PAR_DATA[8]
NET "CON_PAR[15]" 	LOC = AF20; #CON_PAR_DATA[9]
NET "CON_PAR[16]" 	LOC = AK20; #CON_PAR_DATA[10]
NET "CON_PAR[17]" 	LOC = AD23; #CON_PAR_DATA[11]
NET "CON_PAR[18]" 	LOC = AF23; #CON_PAR_DATA[12]
NET "CON_PAR[19]" 	LOC = AG23; #CON_PAR_DATA[13]
NET "CON_PAR[20]" 	LOC = AF22; #CON_PAR_DATA[14]
NET "CON_PAR[21]" 	LOC = AE23; #CON_PAR_DATA[15]
NET "CON_PAR[22]" 	LOC = AH25; #CON_PAR_FS[1]
NET "CON_PAR[23]" 	LOC = AD21; #CON_PAR_FS[2]
NET "CON_PAR[24]" 	LOC = AJ23; #CON_PAR_FS[3]
NET "CON_PAR[25]" 	LOC = AK25; #CON_PAR_INT
NET "CON_PAR[26]" 	LOC = AH20; #CON_PAR_RD
NET "CON_PAR[27]" 	LOC = AK24; #CON_PAR_WR
#NET "CON_RESETOUT" 	LOC = AD26;
#NET "CON_SER_INT" 	LOC = AF26;
NET "CON_SPI_CLK" 	LOC = AH26;
NET "CON_SPI_MISO" 	LOC = AD27;
NET "CON_SPI_MOSI" 	LOC = AC27;
NET "CON_SPI_SS[0]" 	LOC = AB27;
NET "CON_SPI_SS[1]" 	LOC = AJ26;
NET "CON_SPI_SS[2]" 	LOC = AF27;
NET "CON_SPORT_DR0" 	LOC = AF25;
#NET "CON_SPORT_DR1" LOC = AA20;
NET "CON_SPORT_DT0" 	LOC = AD22;
#NET "CON_SPORT_DT1" LOC = AE25;
#NET "CON_SPORT_RFS" LOC = AC22;
#NET "CON_SPORT_RSCLK" LOC = AB20;
NET "CON_SPORT_TFS" 	LOC = AC24;
NET "CON_SPORT_TSCLK" LOC = AD24;
#NET "CON_TMR_A" 		LOC = AG30;
#NET "CON_TMR_B" 		LOC = AE28;
#NET "CON_TMR_D" 		LOC = AE30;
#NET "CON_UART_RX" 	LOC = AH30;
#NET "CON_UART_TX" 	LOC = AF30;

# IOSTANDARD Constraint
#NET "CON_CLKOUT" IOSTANDARD = LVCMOS33;
NET "CON_GPIO[0]" IOSTANDARD = LVCMOS33;
NET "CON_GPIO[1]" IOSTANDARD = LVCMOS33;
NET "CON_GPIO[2]" IOSTANDARD = LVCMOS33;
NET "CON_GPIO[3]" IOSTANDARD = LVCMOS33;
NET "CON_GPIO[4]" IOSTANDARD = LVCMOS33;
NET "CON_GPIO[5]" IOSTANDARD = LVCMOS33;
NET "CON_GPIO[6]" IOSTANDARD = LVCMOS33;
NET "CON_GPIO[7]" IOSTANDARD = LVCMOS33;
NET "CON_I2C0_SCL" IOSTANDARD = LVCMOS33;
NET "CON_I2C0_SDA" IOSTANDARD = LVCMOS33;
NET "CON_I2C1_SCL" IOSTANDARD = LVCMOS33;
NET "CON_I2C1_SDA" IOSTANDARD = LVCMOS33;
NET "CON_PAR[0]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[1]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[2]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[3]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[4]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[5]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[6]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[7]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[8]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[9]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[10]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[11]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[12]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[13]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[14]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[15]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[16]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[17]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[18]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[19]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[20]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[21]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[22]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[23]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[24]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[25]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[26]" IOSTANDARD = LVCMOS33;
NET "CON_PAR[27]" IOSTANDARD = LVCMOS33;
#NET "CON_RESETOUT" IOSTANDARD = LVCMOS33;
#NET "CON_SER_INT" IOSTANDARD = LVCMOS33;
NET "CON_SPI_CLK" IOSTANDARD = LVCMOS33;
NET "CON_SPI_MISO" IOSTANDARD = LVCMOS33;
NET "CON_SPI_MOSI" IOSTANDARD = LVCMOS33;
NET "CON_SPI_SS[0]" IOSTANDARD = LVCMOS33;
NET "CON_SPI_SS[1]" IOSTANDARD = LVCMOS33;
NET "CON_SPI_SS[2]" IOSTANDARD = LVCMOS33;
NET "CON_SPORT_DR0" IOSTANDARD = LVCMOS33;
#NET "CON_SPORT_DR1" IOSTANDARD = LVCMOS33;
NET "CON_SPORT_DT0" IOSTANDARD = LVCMOS33;
#NET "CON_SPORT_DT1" IOSTANDARD = LVCMOS33;
#NET "CON_SPORT_RFS" IOSTANDARD = LVCMOS33;
#NET "CON_SPORT_RSCLK" IOSTANDARD = LVCMOS33;
NET "CON_SPORT_TFS" IOSTANDARD = LVCMOS33;
NET "CON_SPORT_TSCLK" IOSTANDARD = LVCMOS33;
#NET "CON_TMR_A" IOSTANDARD = LVCMOS33;
#NET "CON_TMR_B" IOSTANDARD = LVCMOS33;
#NET "CON_TMR_D" IOSTANDARD = LVCMOS33;
#NET "CON_UART_RX" IOSTANDARD = LVCMOS33;
#NET "CON_UART_TX" IOSTANDARD = LVCMOS33;

# IO Drive Constraint
#NET "CON_CLKOUT" DRIVE = 16;
NET "CON_GPIO[0]" DRIVE = 16;
NET "CON_GPIO[1]" DRIVE = 16;
NET "CON_GPIO[2]" DRIVE = 16;
NET "CON_GPIO[3]" DRIVE = 16;
NET "CON_GPIO[4]" DRIVE = 16;
NET "CON_GPIO[5]" DRIVE = 16;
NET "CON_GPIO[6]" DRIVE = 16;
NET "CON_GPIO[7]" DRIVE = 16;
NET "CON_I2C0_SCL" DRIVE = 16;
NET "CON_I2C0_SDA" DRIVE = 16;
NET "CON_I2C1_SCL" DRIVE = 16;
NET "CON_I2C1_SDA" DRIVE = 16;
NET "CON_PAR[0]" DRIVE = 16;
NET "CON_PAR[1]" DRIVE = 16;
NET "CON_PAR[2]" DRIVE = 16;
NET "CON_PAR[3]" DRIVE = 16;
NET "CON_PAR[4]" DRIVE = 16;
NET "CON_PAR[5]" DRIVE = 16;
NET "CON_PAR[6]" DRIVE = 16;
NET "CON_PAR[7]" DRIVE = 16;
NET "CON_PAR[8]" DRIVE = 16;
NET "CON_PAR[9]" DRIVE = 16;
NET "CON_PAR[10]" DRIVE = 16;
NET "CON_PAR[11]" DRIVE = 16;
NET "CON_PAR[12]" DRIVE = 16;
NET "CON_PAR[13]" DRIVE = 16;
NET "CON_PAR[14]" DRIVE = 16;
NET "CON_PAR[15]" DRIVE = 16;
NET "CON_PAR[16]" DRIVE = 16;
NET "CON_PAR[17]" DRIVE = 16;
NET "CON_PAR[18]" DRIVE = 16;
NET "CON_PAR[19]" DRIVE = 16;
NET "CON_PAR[20]" DRIVE = 16;
NET "CON_PAR[21]" DRIVE = 16;
NET "CON_PAR[22]" DRIVE = 16;
NET "CON_PAR[23]" DRIVE = 16;
NET "CON_PAR[24]" DRIVE = 16;
NET "CON_PAR[25]" DRIVE = 16;
NET "CON_PAR[26]" DRIVE = 16;
NET "CON_PAR[27]" DRIVE = 16;
#NET "CON_RESETOUT" DRIVE = 16;
#NET "CON_SER_INT" DRIVE = 16;
NET "CON_SPI_CLK" DRIVE = 16;
NET "CON_SPI_MISO" DRIVE = 16;
NET "CON_SPI_MOSI" DRIVE = 16;
NET "CON_SPI_SS[0]" DRIVE = 16;
NET "CON_SPI_SS[1]" DRIVE = 16;
NET "CON_SPI_SS[2]" DRIVE = 16;
NET "CON_SPORT_DR0" DRIVE = 16;
#NET "CON_SPORT_DR1" DRIVE = 16;
NET "CON_SPORT_DT0" DRIVE = 16;
#NET "CON_SPORT_DT1" DRIVE = 16;
#NET "CON_SPORT_RFS" DRIVE = 16;
#NET "CON_SPORT_RSCLK" DRIVE = 16;
NET "CON_SPORT_TFS" DRIVE = 16;
NET "CON_SPORT_TSCLK" DRIVE = 16;
#NET "CON_TMR_A" DRIVE = 16;
#NET "CON_TMR_B" DRIVE = 16;
#NET "CON_TMR_D" DRIVE = 16;
#NET "CON_UART_RX" DRIVE = 16;
#NET "CON_UART_TX" DRIVE = 16;

# IO Slew Rate Constraint
#NET "CON_CLKOUT" SLEW = FAST;
NET "CON_GPIO[0]" SLEW = FAST;
NET "CON_GPIO[1]" SLEW = FAST;
NET "CON_GPIO[2]" SLEW = FAST;
NET "CON_GPIO[3]" SLEW = FAST;
NET "CON_GPIO[4]" SLEW = FAST;
NET "CON_GPIO[5]" SLEW = FAST;
NET "CON_GPIO[6]" SLEW = FAST;
NET "CON_GPIO[7]" SLEW = FAST;
NET "CON_I2C0_SCL" SLEW = FAST;
NET "CON_I2C0_SDA" SLEW = FAST;
NET "CON_I2C1_SCL" SLEW = FAST;
NET "CON_I2C1_SDA" SLEW = FAST;
NET "CON_PAR[0]" SLEW = FAST;
NET "CON_PAR[1]" SLEW = FAST;
NET "CON_PAR[2]" SLEW = FAST;
NET "CON_PAR[3]" SLEW = FAST;
NET "CON_PAR[4]" SLEW = FAST;
NET "CON_PAR[5]" SLEW = FAST;
NET "CON_PAR[6]" SLEW = FAST;
NET "CON_PAR[7]" SLEW = FAST;
NET "CON_PAR[8]" SLEW = FAST;
NET "CON_PAR[9]" SLEW = FAST;
NET "CON_PAR[10]" SLEW = FAST;
NET "CON_PAR[11]" SLEW = FAST;
NET "CON_PAR[12]" SLEW = FAST;
NET "CON_PAR[13]" SLEW = FAST;
NET "CON_PAR[14]" SLEW = FAST;
NET "CON_PAR[15]" SLEW = FAST;
NET "CON_PAR[16]" SLEW = FAST;
NET "CON_PAR[17]" SLEW = FAST;
NET "CON_PAR[18]" SLEW = FAST;
NET "CON_PAR[19]" SLEW = FAST;
NET "CON_PAR[20]" SLEW = FAST;
NET "CON_PAR[21]" SLEW = FAST;
NET "CON_PAR[22]" SLEW = FAST;
NET "CON_PAR[23]" SLEW = FAST;
NET "CON_PAR[24]" SLEW = FAST;
NET "CON_PAR[25]" SLEW = FAST;
NET "CON_PAR[26]" SLEW = FAST;
NET "CON_PAR[27]" SLEW = FAST;
#NET "CON_RESETOUT" SLEW = FAST;
#NET "CON_SER_INT" SLEW = FAST;
NET "CON_SPI_CLK" SLEW = FAST;
NET "CON_SPI_MISO" SLEW = FAST;
NET "CON_SPI_MOSI" SLEW = FAST;
NET "CON_SPI_SS[0]" SLEW = FAST;
NET "CON_SPI_SS[1]" SLEW = FAST;
NET "CON_SPI_SS[2]" SLEW = FAST;
NET "CON_SPORT_DR0" SLEW = FAST;
#NET "CON_SPORT_DR1" SLEW = FAST;
NET "CON_SPORT_DT0" SLEW = FAST;
#NET "CON_SPORT_DT1" SLEW = FAST;
#NET "CON_SPORT_RFS" SLEW = FAST;
#NET "CON_SPORT_RSCLK" SLEW = FAST;
NET "CON_SPORT_TFS" SLEW = FAST;
NET "CON_SPORT_TSCLK" SLEW = FAST;
#NET "CON_TMR_A" SLEW = FAST;
#NET "CON_TMR_B" SLEW = FAST;
#NET "CON_TMR_D" SLEW = FAST;
#NET "CON_UART_RX" SLEW = FAST;
#NET "CON_UART_TX" SLEW = FAST;
