
NET hdmi_clk            LOC = P28  | IOSTANDARD = LVCMOS25;
NET hdmi_vsync          LOC = U21  | IOSTANDARD = LVCMOS25;
NET hdmi_hsync          LOC = R22  | IOSTANDARD = LVCMOS25;
NET hdmi_data_e         LOC = V24  | IOSTANDARD = LVCMOS25;
NET hdmi_data[0]        LOC = U24  | IOSTANDARD = LVCMOS25;
NET hdmi_data[1]        LOC = T22  | IOSTANDARD = LVCMOS25;
NET hdmi_data[2]        LOC = R23  | IOSTANDARD = LVCMOS25;
NET hdmi_data[3]        LOC = AA25 | IOSTANDARD = LVCMOS25;
NET hdmi_data[4]        LOC = AE28 | IOSTANDARD = LVCMOS25;
NET hdmi_data[5]        LOC = T23  | IOSTANDARD = LVCMOS25;
NET hdmi_data[6]        LOC = AB25 | IOSTANDARD = LVCMOS25;
NET hdmi_data[7]        LOC = T27  | IOSTANDARD = LVCMOS25;
NET hdmi_data[8]        LOC = AD26 | IOSTANDARD = LVCMOS25;
NET hdmi_data[9]        LOC = AB26 | IOSTANDARD = LVCMOS25;
NET hdmi_data[10]       LOC = AA28 | IOSTANDARD = LVCMOS25;
NET hdmi_data[11]       LOC = AC26 | IOSTANDARD = LVCMOS25;
NET hdmi_data[12]       LOC = AE30 | IOSTANDARD = LVCMOS25;
NET hdmi_data[13]       LOC = Y25  | IOSTANDARD = LVCMOS25;
NET hdmi_data[14]       LOC = AA29 | IOSTANDARD = LVCMOS25;
NET hdmi_data[15]       LOC = AD30 | IOSTANDARD = LVCMOS25;
NET hdmi_data[16]       LOC = Y28  | IOSTANDARD = LVCMOS25;
NET hdmi_data[17]       LOC = AF28 | IOSTANDARD = LVCMOS25;
NET hdmi_data[18]       LOC = V22  | IOSTANDARD = LVCMOS25;
NET hdmi_data[19]       LOC = AA27 | IOSTANDARD = LVCMOS25;
NET hdmi_data[20]       LOC = U22  | IOSTANDARD = LVCMOS25;
NET hdmi_data[21]       LOC = N28  | IOSTANDARD = LVCMOS25;
NET hdmi_data[22]       LOC = V21  | IOSTANDARD = LVCMOS25;
NET hdmi_data[23]       LOC = AC22 | IOSTANDARD = LVCMOS25;
NET hdmi_spdif          LOC = AC21 | IOSTANDARD = LVCMOS25;
NET hdmi_int            LOC = AC23 | IOSTANDARD = LVCMOS25;

NET sw[0]               LOC = AB17 | IOSTANDARD = LVCMOS25; ## GPIO_DIP_SW0
NET sw[1]               LOC = AC16 | IOSTANDARD = LVCMOS25; ## GPIO_DIP_SW1
NET sw[2]               LOC = AC17 | IOSTANDARD = LVCMOS25; ## GPIO_DIP_SW2
NET sw[3]               LOC = AJ13 | IOSTANDARD = LVCMOS25; ## GPIO_DIP_SW3
NET sw[4]               LOC = AK25 | IOSTANDARD = LVCMOS25; ## GPIO_SW_LEFT
NET sw[5]               LOC = K15  | IOSTANDARD = LVCMOS15; ## GPIO_SW_CENTER
NET sw[6]               LOC = R27  | IOSTANDARD = LVCMOS25; ## GPIO_SW_RIGHT

NET led[0]              LOC = Y21  | IOSTANDARD = LVCMOS25; ## GPIO_LED_LEFT
NET led[1]              LOC = G2   | IOSTANDARD = LVCMOS15; ## GPIO_LED_CENTER
NET led[2]              LOC = W21  | IOSTANDARD = LVCMOS25; ## GPIO_LED_RIGHT
NET led[3]              LOC = A17  | IOSTANDARD = LVCMOS15; ## GPIO_LED_0

NET ref_clk_out_p       LOC = AB27 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET ref_clk_out_n       LOC = AC27 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";

NET dac_clk_in_p        LOC = AG17 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET dac_clk_in_n        LOC = AG16 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET dac_clk_out_p       LOC = AH28 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_clk_out_n       LOC = AH29 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_frame_out_p     LOC = AJ16 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_frame_out_n     LOC = AK16 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_p[0]   LOC = Y26  | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_n[0]   LOC = Y27  | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_p[1]   LOC = Y30  | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_n[1]   LOC = AA30 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_p[2]   LOC = AB29 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_n[2]   LOC = AB30 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_p[3]   LOC = AD25 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_n[3]   LOC = AE26 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_p[4]   LOC = AC29 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_n[4]   LOC = AD29 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_p[5]   LOC = AE25 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_n[5]   LOC = AF25 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_p[6]   LOC = AF30 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_n[6]   LOC = AG30 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_p[7]   LOC = AF29 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_n[7]   LOC = AG29 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_p[8]   LOC = AK27 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_n[8]   LOC = AK28 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_p[9]   LOC = AJ28 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_n[9]   LOC = AJ29 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_p[10]  LOC = AJ30 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_n[10]  LOC = AK30 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_p[11]  LOC = AJ26 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_n[11]  LOC = AK26 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_p[12]  LOC = AH26 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_n[12]  LOC = AH27 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_p[13]  LOC = AG26 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_n[13]  LOC = AG27 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_p[14]  LOC = AB15 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_n[14]  LOC = AB14 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_p[15]  LOC = AE18 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";
NET dac_data_out_n[15]  LOC = AE17 | IOSTANDARD = "LVDS_25" | SLEW = "FAST";

NET adc_clk_in_p        LOC = AC28 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_clk_in_n        LOC = AD28 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_or_p       LOC = AE13 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_or_n       LOC = AF13 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_p[0]    LOC = AE27 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_n[0]    LOC = AF27 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_p[1]    LOC = AF18 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_n[1]    LOC = AF17 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_p[2]    LOC = AH17 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_n[2]    LOC = AH16 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_p[3]    LOC = AG12 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_n[3]    LOC = AH12 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_p[4]    LOC = AE16 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_n[4]    LOC = AE15 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_p[5]    LOC = AC14 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_n[5]    LOC = AC13 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_p[6]    LOC = AD16 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_n[6]    LOC = AD15 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_p[7]    LOC = AA15 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_n[7]    LOC = AA14 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_p[8]    LOC = AE12 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_n[8]    LOC = AF12 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_p[9]    LOC = AJ15 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_n[9]    LOC = AK15 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_p[10]   LOC = AH14 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_n[10]   LOC = AH13 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_p[11]   LOC = AD14 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_n[11]   LOC = AD13 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_p[12]   LOC = AB12 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_n[12]   LOC = AC12 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_p[13]   LOC = AF15 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";
NET adc_data_in_n[13]   LOC = AG15 | IOSTANDARD = "LVDS_25" | DIFF_TERM = "TRUE";

NET "processing_system7_0_FCLK_CLK0" TNM_NET = "ps7_fclk_clk0";
TIMESPEC TS_ps7_fclk_clk0 = PERIOD "ps7_fclk_clk0" 100 MHz;

NET "processing_system7_0_FCLK_CLK1" TNM_NET = "ps7_fclk_clk1";
TIMESPEC TS_ps7_fclk_clk1 = PERIOD "ps7_fclk_clk1" 200 MHz;

NET "processing_system7_0_FCLK_CLK2" TNM_NET = "ps7_fclk_clk2";
TIMESPEC TS_ps7_fclk_clk2 = PERIOD "ps7_fclk_clk2" 200 MHz;

NET "processing_system7_0_FCLK_CLK3" TNM_NET = "ps7_fclk_clk3";
TIMESPEC TS_ps7_fclk_clk3 = PERIOD "ps7_fclk_clk3" 30 MHz;

NET "dac_clk_in_p" TNM_NET = "dac_clk_in_p";
TIMESPEC "TS_dac_clk_in_p" = PERIOD "dac_clk_in_p" 500 MHz;
NET "dac_clk_in_n" TNM_NET = "dac_clk_in_n";
TIMESPEC "TS_dac_clk_in_n" = PERIOD "dac_clk_in_n" 500 MHz;

NET "adc_clk_in_p" TNM_NET = "adc_clk_in_p";
TIMESPEC "TS_adc_clk_in_p" = PERIOD "adc_clk_in_p" 260 MHz;
NET "adc_clk_in_n" TNM_NET = "adc_clk_in_n";
TIMESPEC "TS_adc_clk_in_n" = PERIOD "adc_clk_in_n" 260 MHz;

# can't use real numbers as bufg alone exceeds 4ns
OFFSET = IN BEFORE "adc_clk_in_p" RISING;
OFFSET = IN BEFORE "adc_clk_in_p" FALLING;

OFFSET = OUT AFTER "dac_clk_in_p" REFERENCE_PIN "dac_clk_out_p" RISING;
OFFSET = OUT AFTER "dac_clk_in_p" REFERENCE_PIN "dac_clk_out_p" FALLING;

NET axi_iic_0_Sda_pin LOC = AJ18 | IOSTANDARD=LVCMOS25 | PULLUP;
NET axi_iic_0_Scl_pin LOC = AJ14 | IOSTANDARD=LVCMOS25 | PULLUP;
