
NET RESET LOC = "AB7"  |  IOSTANDARD = "LVCMOS15" | TIG;

NET CLK_N LOC = "AD11"  |  IOSTANDARD = "DIFF_SSTL15";
NET CLK_P LOC = "AD12"  |  IOSTANDARD = "DIFF_SSTL15";
NET Ethernet_Lite_COL LOC = "W19"  |  IOSTANDARD = "LVCMOS25";
NET Ethernet_Lite_CRS LOC = "R30"  |  IOSTANDARD = "LVCMOS25";
NET Ethernet_Lite_MDC LOC = "R23"  |  IOSTANDARD = "LVCMOS25";
NET Ethernet_Lite_MDIO LOC = "J21"  |  IOSTANDARD = "LVCMOS25";
NET Ethernet_Lite_PHY_RST_N LOC = "L20"  |  IOSTANDARD = "LVCMOS25"  |  TIG;
NET Ethernet_Lite_RXD[0] LOC = "U30"  |  IOSTANDARD = "LVCMOS25";
NET Ethernet_Lite_RXD[1] LOC = "U25"  |  IOSTANDARD = "LVCMOS25";
NET Ethernet_Lite_RXD[2] LOC = "T25"  |  IOSTANDARD = "LVCMOS25";
NET Ethernet_Lite_RXD[3] LOC = "U28"  |  IOSTANDARD = "LVCMOS25";
NET Ethernet_Lite_RX_CLK LOC = "U27"  |  IOSTANDARD = "LVCMOS25";
NET Ethernet_Lite_RX_DV LOC = "R28"  |  IOSTANDARD = "LVCMOS25";
NET Ethernet_Lite_RX_ER LOC = "V26"  |  IOSTANDARD = "LVCMOS25";
NET Ethernet_Lite_TXD[0] LOC = "N27"  |  IOSTANDARD = "LVCMOS25";
NET Ethernet_Lite_TXD[1] LOC = "N25"  |  IOSTANDARD = "LVCMOS25";
NET Ethernet_Lite_TXD[2] LOC = "M29"  |  IOSTANDARD = "LVCMOS25";
NET Ethernet_Lite_TXD[3] LOC = "L28"  |  IOSTANDARD = "LVCMOS25";
NET Ethernet_Lite_TX_CLK LOC = "M28"  |  IOSTANDARD = "LVCMOS25";
NET Ethernet_Lite_TX_EN LOC = "M27"  |  IOSTANDARD = "LVCMOS25";
NET RS232_Uart_1_sin LOC = "M19"  |  IOSTANDARD = "LVCMOS25";
NET RS232_Uart_1_sout LOC = "K24"  |  IOSTANDARD = "LVCMOS25";
NET sm_fan_pwm_net_vcc LOC = "L26"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[0] LOC = "M22"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[10] LOC = "V27"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[11] LOC = "V29"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[12] LOC = "V30"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[13] LOC = "V25"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[14] LOC = "W26"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[15] LOC = "V19"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[16] LOC = "V20"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[17] LOC = "W23"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[18] LOC = "W24"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[19] LOC = "U23"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[1] LOC = "M23"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[20] LOC = "V21"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[21] LOC = "V22"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[22] LOC = "U24"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[23] LOC = "V24"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[24] LOC = "W21"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[25] LOC = "W22"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[2] LOC = "N26"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[3] LOC = "N19"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[4] LOC = "N20"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[5] LOC = "N21"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[6] LOC = "N22"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[7] LOC = "N24"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[8] LOC = "P21"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_address[9] LOC = "P22"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_adv_ldn LOC = "M30"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_ce_n LOC = "U19"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[0] LOC = "R26"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[10] LOC = "T21"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[11] LOC = "T20"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[12] LOC = "R21"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[13] LOC = "R20"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[14] LOC = "R25"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[15] LOC = "P24"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[1] LOC = "P26"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[2] LOC = "T30"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[3] LOC = "P28"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[4] LOC = "P27"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[5] LOC = "R29"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[6] LOC = "P29"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[7] LOC = "U20"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[8] LOC = "T23"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_data[9] LOC = "T22"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_oe_n LOC = "M24"  |  IOSTANDARD = "LVCMOS25";
NET Linear_Flash_we_n LOC = "M25"  |  IOSTANDARD = "LVCMOS25";

NET up_status[0] LOC = "AB8"  | IOSTANDARD = "LVCMOS15";
NET up_status[1] LOC = "AA8"  | IOSTANDARD = "LVCMOS15";
NET up_status[2] LOC = "AC9"  | IOSTANDARD = "LVCMOS15";
NET up_status[3] LOC = "AB9"  | IOSTANDARD = "LVCMOS15";
NET up_status[4] LOC = "AE26" | IOSTANDARD = "LVCMOS25";
NET up_status[5] LOC = "G19"  | IOSTANDARD = "LVCMOS25";
NET up_status[6] LOC = "E18"  | IOSTANDARD = "LVCMOS25";
NET up_status[7] LOC = "F16"  | IOSTANDARD = "LVCMOS25";

NET iic_sda   LOC = "L21" | IOSTANDARD = "LVCMOS25";
NET iic_scl   LOC = "K21" | IOSTANDARD = "LVCMOS25";
NET iic_rstn  LOC = "P23" | IOSTANDARD = "LVCMOS25";

NET hdmi_out_clk    LOC = "K18"  | IOSTANDARD = "LVCMOS25";
NET hdmi_vsync      LOC = "H20"  | IOSTANDARD = "LVCMOS25";
NET hdmi_hsync      LOC = "J18"  | IOSTANDARD = "LVCMOS25";
NET hdmi_data_e     LOC = "H17"  | IOSTANDARD = "LVCMOS25";
NET hdmi_data[0]    LOC = "B23"  | IOSTANDARD = "LVCMOS25";
NET hdmi_data[1]    LOC = "A23"  | IOSTANDARD = "LVCMOS25";
NET hdmi_data[2]    LOC = "E23"  | IOSTANDARD = "LVCMOS25";
NET hdmi_data[3]    LOC = "D23"  | IOSTANDARD = "LVCMOS25";
NET hdmi_data[4]    LOC = "F25"  | IOSTANDARD = "LVCMOS25";
NET hdmi_data[5]    LOC = "E25"  | IOSTANDARD = "LVCMOS25";
NET hdmi_data[6]    LOC = "E24"  | IOSTANDARD = "LVCMOS25";
NET hdmi_data[7]    LOC = "D24"  | IOSTANDARD = "LVCMOS25";
NET hdmi_data[8]    LOC = "F26"  | IOSTANDARD = "LVCMOS25";
NET hdmi_data[9]    LOC = "E26"  | IOSTANDARD = "LVCMOS25";
NET hdmi_data[10]   LOC = "G23"  | IOSTANDARD = "LVCMOS25";
NET hdmi_data[11]   LOC = "G24"  | IOSTANDARD = "LVCMOS25";
NET hdmi_data[12]   LOC = "J19"  | IOSTANDARD = "LVCMOS25";
NET hdmi_data[13]   LOC = "H19"  | IOSTANDARD = "LVCMOS25";
NET hdmi_data[14]   LOC = "L17"  | IOSTANDARD = "LVCMOS25";
NET hdmi_data[15]   LOC = "L18"  | IOSTANDARD = "LVCMOS25";
NET hdmi_spdif      LOC = "J17"  | IOSTANDARD = "LVCMOS25";
NET hdmi_int        LOC = "AH24" | IOSTANDARD = "LVCMOS25";

NET "CLK_P" TNM_NET = "CLK_P";
TIMESPEC "TS_CLK_P" = PERIOD "CLK_P" 200 MHz;
NET "CLK_N" TNM_NET = "CLK_N";
TIMESPEC "TS_CLK_N" = PERIOD "CLK_N" 200 MHz;

# Added for RevC board
CONFIG DCI_CASCADE = "33 32 34";

TIMESPEC TS_spdif_2_up = FROM "clock_generator_0_clock_generator_0_SIG_PLLE0_CLKOUT5" TO "clock_generator_0_clock_generator_0_SIG_PLLE0_CLKOUT3" TIG;
TIMESPEC TS_up_2_spdif = FROM "clock_generator_0_clock_generator_0_SIG_PLLE0_CLKOUT3" TO "clock_generator_0_clock_generator_0_SIG_PLLE0_CLKOUT5" TIG;
  
# false paths across hdmi, vdma and up clocks

NET "hdmi_clk" TNM_NET = "hdmi_clk";
TIMESPEC TS_hdmi_clk = PERIOD "hdmi_clk" 150 MHz;

NET "clk_100_0000MHzPLLE0" TNM_NET = "clk_100MHz";
TIMESPEC TS_clk_100MHz = PERIOD "clk_100MHz" 100 MHz;

NET "clk_200_0000MHzPLLE0" TNM_NET = "clk_200MHz";
TIMESPEC TS_clk_200MHz = PERIOD "clk_200MHz" 200 MHz;

TIMESPEC TS_hdmi_to_vdma = FROM "hdmi_clk" TO "clk_200MHz" TIG;
TIMESPEC TS_vdma_to_hdmi = FROM "clk_200MHz" TO "hdmi_clk" TIG;
TIMESPEC TS_up_to_hdmi = FROM "clk_100MHz" TO "hdmi_clk" TIG;
TIMESPEC TS_hdmi_to_up = FROM "hdmi_clk" TO "clk_100MHz" TIG;

